<div class="container">
    <div>
        <h2>Modifier un Produit :</h2>
    </div>
    <form>
        <div  class="col-sm-2 col-md-2 col-lg-2">
            <label>ID Produit</label>
            <input readonly type="text" [(ngModel)]="currentProduit.idProduit" name="idProduit" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Produit</label>
            <input type="text" [(ngModel)]="currentProduit.nomProduit" name="nomProduit" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Prix Produit</label>
            <input type="number" [(ngModel)]="currentProduit.prixProduit" name="prixProduit" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date création</label>
            <input type="date" [ngModel]="currentProduit.dateCreation | date: 'yyyy-MM-dd'" 
            (ngModelChange)=" currentProduit.dateCreation= $event" name="dateCreation"  class="form-control">
        </div>

         <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Categorie</label>
            <select class="form-control form-control-lg" id="idCat" name="idCat" [(ngModel)]="updatedCatId">
                <option *ngFor="let cat of categories" [value]="cat.idCat">
                    {{cat.nomCat}}
                </option>  
            </select>
        </div> 


        <div class="col-sm-16 col-md-16 col-lg-16">
            <label class="mb-2">Image :</label>
            <input type="file" (change)="onImageUpload($event)" class="form-control">
        </div>

        <div class="mt-2">
            <button type="submit" (click)="onAddImageProduit()" class="btn 
            btn-success">Ajouter Image</button>
        </div>
            
       

        <div class="col-sm-16 col-md-16 col-lg-16">
            <img [src]="myImage" class="card-img-top img-fluid rounded-start"
            style="width: 500px; height: 300px" />
            </div>

            <div class="card shadow mb-4">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Images</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let img of currentProduit.images">
                            <tr>
                                <td><img class="card-img-top img-responsive" src="{{'data:' + img.type + ';base64,' + img.image}}"
                                        style="height :50px;width:100px"></td>
                                <td style="width:20%" ><a class="btn btn-danger"
                                 (click)="supprimerImage(img)">Supprimer</a></td>
                                                    
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
                       

        <div class="mt-2">
            <button type="submit" (click)="updateProduit()" class="btn btn-success">Modifer</button>
        </div>
    </form>
</div>